<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Sarab | Portfolio{% endblock %}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="vscode-layout">
      <div class="activity-bar">
        <a
          class="activity-icon"
          href="https://linkedin.com/in/sarabaftab"
          target="_blank"
          title="LinkedIn"
        >
          <img
            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linkedin/linkedin-original.svg"
            alt="LinkedIn"
            width="20"
            height="20"
          />
        </a>
        <a
          class="activity-icon"
          href="https://github.com/sarabaftab"
          target="_blank"
          title="GitHub"
        >
          <img
          src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg"
          alt="GitHub" width="20" height="20" / style="filter: brightness(0)
          invert(0.9);">
        </a>
        <a
          class="activity-icon"
          href="https://www.facebook.com/profile.php?id=100007196899332"
          target="_blank"
          title="Facebook"
        >
          <img
            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/facebook/facebook-original.svg"
            alt="Facebook"
            width="20"
            height="20"
          />
        </a>
        <a
          class="activity-icon"
          href="mailto:sarabfsd@@gmail.com"
          title="Gmail"
        >
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/4/4e/Gmail_Icon.png"
            alt="Gmail"
            width="20"
            height="20"
          />
        </a>
      </div>
      <nav class="sidebar">
        <h2 class="sidebar-title">site.sarab</h2>
        <ul>
          <li>
            <a
              href="{{ url_for('home') }}"
              class="{% if request.path == url_for('home') %}active{% endif %}"
              ><img
                class="file-icon"
                src="https://www.svgrepo.com/show/143133/html-coding.svg"
                alt="HTML Icon"
                width="16"
                height="16"
                style="
                  filter: invert(47%) sepia(86%) saturate(1545%)
                    hue-rotate(2deg) brightness(103%) contrast(104%);
                  margin-right: 6px;
                  vertical-align: middle;
                "
              />
              index.html</a
            >
          </li>
          <li>
            <a
              href="{{ url_for('experience') }}"
              class="{% if request.path == url_for('experience') %}active{% endif %}"
              ><img
                class="file-icon"
                src="https://www.svgrepo.com/show/143133/html-coding.svg"
                alt="HTML Icon"
                width="16"
                height="16"
                style="
                  filter: invert(47%) sepia(86%) saturate(1545%)
                    hue-rotate(2deg) brightness(103%) contrast(104%);
                  margin-right: 6px;
                  vertical-align: middle;
                "
              />
              experience.html</a
            >
          </li>
          <li>
            <a
              href="{{ url_for('projects') }}"
              class="{% if request.path == url_for('projects') %}active{% endif %}"
              ><img
                class="file-icon"
                src="https://www.svgrepo.com/show/143133/html-coding.svg"
                alt="HTML Icon"
                width="16"
                height="16"
                style="
                  filter: invert(47%) sepia(86%) saturate(1545%)
                    hue-rotate(2deg) brightness(103%) contrast(104%);
                  margin-right: 6px;
                  vertical-align: middle;
                "
              />
              projects.html</a
            >
          </li>
          <li>
            <a
              href="{{ url_for('misc') }}"
              class="{% if request.path == url_for('misc') %}active{% endif %}"
              ><img
                class="file-icon"
                src="https://www.svgrepo.com/show/143133/html-coding.svg"
                alt="HTML Icon"
                width="16"
                height="16"
                style="
                  filter: invert(47%) sepia(86%) saturate(1545%)
                    hue-rotate(2deg) brightness(103%) contrast(104%);
                  margin-right: 6px;
                  vertical-align: middle;
                "
              />
              misc.html</a
            >
          </li>
          <li>
            <a
              href="{{ url_for('connect') }}"
              class="{% if request.path == url_for('connect') %}active{% endif %}"
              ><img
                class="file-icon"
                src="https://www.svgrepo.com/show/143133/html-coding.svg"
                alt="HTML Icon"
                width="16"
                height="16"
                style="
                  filter: invert(47%) sepia(86%) saturate(1545%)
                    hue-rotate(2deg) brightness(103%) contrast(104%);
                  margin-right: 6px;
                  vertical-align: middle;
                "
              />
              connect.html</a
            >
          </li>
        </ul>
      </nav>
      <main class="editor">
        <div class="code-shell">
          <div class="line-numbers">
            {% for i in range(1, 60) %}<span>{{ i }}</span>{% endfor %}
          </div>
          <div class="code-content">{% block content %}{% endblock %}</div>
        </div>
        </div>
      </main>
    </div>
  </body>
</html>
