{% extends "base.html" %} {% block content %}
<h1 class="section-title">
  🧠 <span id="typing-heading"></span><span class="cursor">|</span>
</h1>

<div class="experience-card ongoing">
  <div class="experience-top">
    <div class="experience-left">
      <img
        src="https://media.licdn.com/dms/image/v2/D4D0BAQHageI_AMaN_Q/company-logo_100_100/company-logo_100_100/0/1715167013690/webecommerce_logo?e=1753315200&v=beta&t=LtcynizBrV1sJ1GHV5FVeI8LP-Hm6qAVAB33XMPWhPI"
        alt="WEP Logo"
        class="company-logo"
      />
      <div class="experience-info">
        <p class="role">DevOps Engineer Intern</p>
        <p class="company">Web Ecommerce Pros</p>
      </div>
    </div>
    <div class="experience-right">
      <p class="date">May – Aug 2024</p>
    </div>
  </div>
  <div class="experience-details">
    <p>
      Built and optimized ecommerce storefronts using Flask and Shopify.
      Improved page speed and developed internal admin tools.
    </p>
    <ul class="tags">
      <li>Flask</li>
      <li>Shopify</li>
      <li>JavaScript</li>
      <li>BigCommerce</li>
    </ul>
  </div>
</div>

<div class="experience-card past">
  <div class="experience-top">
    <div class="experience-left">
      <img
        src="https://media.licdn.com/dms/image/v2/D4D0BAQHageI_AMaN_Q/company-logo_100_100/company-logo_100_100/0/1715167013690/webecommerce_logo?e=1753315200&v=beta&t=LtcynizBrV1sJ1GHV5FVeI8LP-Hm6qAVAB33XMPWhPI"
        alt="WEP Logo"
        class="company-logo"
      />
      <div class="experience-info">
        <p class="role">Software Engineer Intern</p>
        <p class="company">Web Ecommerce Pros</p>
      </div>
    </div>
    <div class="experience-right">
      <p class="date">May – Aug 2024</p>
    </div>
  </div>
  <div class="experience-details">
    <p>
      Built and optimized ecommerce storefronts using Flask and Shopify.
      Improved page speed and developed internal admin tools.
    </p>
    <ul class="tags">
      <li>Flask</li>
      <li>Shopify</li>
      <li>JavaScript</li>
      <li>BigCommerce</li>
    </ul>
  </div>
</div>

<div class="experience-card past">
  <div class="experience-top">
    <div class="experience-left">
      <img
        src="https://yt3.googleusercontent.com/XaMRV3XB7tpRur1rxjg09DPJbpyT9p7Eo0s7ldb0ayI6eyq07nMuI6U_zURm02cS7l4fmZy_Lg=s900-c-k-c0x00ffffff-no-rj"
        alt="Mayo Clinic Logo"
        class="company-logo"
      />
      <div class="experience-info">
        <p class="role">Data Science Intern</p>
        <p class="company">Mayo Clinic</p>
      </div>
    </div>
    <div class="experience-right">
      <p class="date">Fall 2024</p>
    </div>
  </div>
  <div class="experience-details">
    <p>
      Contributed to biomedical data analysis and visualization. Used Python and
      R for modeling and reported findings to cross-functional research teams.
    </p>
    <ul class="tags">
      <li>Python</li>
      <li>R</li>
      <li>Data Visualization</li>
      <li>Research</li>
    </ul>
  </div>
</div>

<div class="experience-card ongoing">
  <div class="experience-top">
    <div class="experience-left">
      <img
        src="https://media.licdn.com/dms/image/v2/D560BAQG6vE2ryvOfAQ/company-logo_200_200/B56ZUwt4n2HoAI-/0/1740279089924/vantixai_logo?e=2147483647&v=beta&t=WRIPYAfjJValBEIHks0m---9CMIdcBrgW9gocSSTB-I"
        class="company-logo"
      />
      <div class="experience-info">
        <p class="role">Founder & President</p>
        <p class="company">Vantix AI</p>
      </div>
    </div>
    <div class="experience-right">
      <p class="date">Fall 2024</p>
    </div>
  </div>
  <div class="experience-details">
    <p>
      Contributed to biomedical data analysis and visualization. Used Python and
      R for modeling and reported findings to cross-functional research teams.
    </p>
    <ul class="tags">
      <li>Python</li>
      <li>R</li>
      <li>Data Visualization</li>
      <li>Research</li>
    </ul>
  </div>
</div>

<div class="experience-card ongoing">
  <div class="experience-top">
    <div class="experience-left">
      <img
        src="https://media.licdn.com/dms/image/v2/D4E0BAQGJ5j3fUqrp5Q/company-logo_200_200/company-logo_200_200/0/1708200043507/theheadstarter_logo?e=2147483647&v=beta&t=3dYi1gdc3dME-gIFFYhdzH8IqQYWG_NWJYSSizX7LC0"
        class="company-logo"
      />
      <div class="experience-info">
        <p class="role">Software Engineering Fellow</p>
        <p class="company">HeadStarter</p>
      </div>
    </div>
    <div class="experience-right">
      <p class="date">Fall 2024</p>
    </div>
  </div>
  <div class="experience-details">
    <p>
      Contributed to biomedical data analysis and visualization. Used Python and
      R for modeling and reported findings to cross-functional research teams.
    </p>
    <ul class="tags">
      <li>Python</li>
      <li>R</li>
      <li>Data Visualization</li>
      <li>Research</li>
    </ul>
  </div>
</div>

<div class="experience-card ongoing">
  <div class="experience-top">
    <div class="experience-left">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTc9Q9fOQ8_16-RLOVSX3n1wpVeCAR8RkwwZK4-Hk00qCLdX6sJt9bu2F6nMIIMyv73TVQ&usqp=CAU"
        class="company-logo"
      />
      <div class="experience-info">
        <p class="role">Healthcare Data Analyst Intern</p>
        <p class="company">TruBridge Healthcare</p>
      </div>
    </div>
    <div class="experience-right">
      <p class="date">Fall 2024</p>
    </div>
  </div>
  <div class="experience-details">
    <p>
      Contributed to biomedical data analysis and visualization. Used Python and
      R for modeling and reported findings to cross-functional research teams.
    </p>
    <ul class="tags">
      <li>Python</li>
      <li>R</li>
      <li>Data Visualization</li>
      <li>Research</li>
    </ul>
  </div>
</div>

<div class="experience-card past">
  <div class="experience-top">
    <div class="experience-left">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR2181SdfDfTSfC9iRKs_NLXxs1MnRIne6mxQ&s"
        alt="Luther College Logo"
        class="company-logo"
      />
      <div class="experience-info">
        <p class="role">IT Help Desk Technician</p>
        <p class="company">Luther College</p>
      </div>
    </div>
    <div class="experience-right">
      <p class="date">Aug 2023 – May 2024</p>
    </div>
  </div>
  <div class="experience-details">
    <p>
      Provided tech support for faculty and students. Resolved hardware/software
      issues and automated ticket workflows using Python.
    </p>
    <ul class="tags">
      <li>Support</li>
      <li>Python</li>
      <li>Automation</li>
      <li>Troubleshooting</li>
    </ul>
  </div>
</div>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}
